<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edita un post en Blagger</title>
    <link rel="icon" th:href="@{/images/logo_black.png}">
    <!--    Bootstrap, jquery and popper libraries-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    TinyMCE library that converts an textarea to HTML editor-->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{'/'}" style="font-size: x-large">
        <img src="/images/logo_white.png/logo_white.png" th:src="@{/images/logo_white.png}"
             class="d-inline-block align-middle mr-2" alt="">Blagger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <span class="navbar-text text-light px-2" style="font-size: large">Bienvenid@ a Blagger!</span>
            <li class="nav-item  px-2">
                <a class="nav-link" th:href="@{'/new_post'}" style="font-size: large">Publica un post</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <h1>Edita un post</h1>
    <br>
    <form th:action="@{'/edit_post/'+${editPost.id_post}}" th:object="${editPost}" method="post">
        <div class="form-group">
            <label for="user">Autor</label>
            <input class="form-control" th:field="*{username}" th:value="${editPost.username}" id="user" maxlength="25"
                   required>
            <!--        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>-->
        </div>
        <div class="form-group">
            <label for="title">Título</label>
            <input class="form-control" th:field="*{title}" th:value="${editPost.title}" id="title" maxlength="150"
                   required>
            <!--        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>-->
        </div>
        <div class="form-group">
            <label for="short_description">Descripción</label>
            <textarea class="form-control" th:field="*{short_description}" th:value="${editPost.short_description}"
                      id="short_description" maxlength="250" rows="2" required></textarea>
            <!--        <span th:if="${#fields.hasErrors('short_description')}" th:errors="*{short_description}"></span>-->
        </div>
        <div class="form-group">
            <label for="content-editor">Contenido</label>
            <textarea class="form-control" th:field="*{content}" th:value="${editPost.content}" id="content-editor"
                      rows="20" required></textarea>
            <!--        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>-->
        </div>
        <button name="new_post_form" type="submit" class="btn btn-primary">Editar</button>
    </form>

</div>
<br>
</body>
<footer class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container p-3 pb-0">
        <section class="mb-2">
            <!-- Twitter -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/cdomenech_" role="button"
               target="_blank"><i class="fa fa-twitter"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/c-domenech/"
               role="button" target="_blank"><i class="fa fa-linkedin"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/C-Domenech" role="button"
               target="_blank"><i class="fa fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.3);">
        © 2021 Copyright -
        <a class="text-light" href="http://thecrisdom.com/" target="_blank">TheCrisdom.com</a>
    </div>
</footer>

<script>
    tinymce.init({
        selector: 'textarea#content-editor',
        menubar: false,
        setup: function (editor) {
            editor.on('change', function () {
                tinymce.triggerSave();
            });
        }
    });
</script>
</html>